// Animation svg EXIT (LOGOUT)
.header__menu {
	#LOGOUT {
		.Arrow_logout {
			transition: all 0.3s;
		}
	}
	#LOGOUT:hover {
		.Arrow_logout {
			transform: translateX(5px);
			transition: transform 0.3s;
		}
	}
}
// Animate svg IT
#IT_logo {
	.teacher_text {
		opacity: 0%;
		transition: opacity 0.3s;
	}
	circle {
		transition: fill 0.3s;
	}
	.IT_text_IT {
		transition: fill 0.3s;
	}
}

#IT_logo:hover {
	.IT_text_IT {
		fill: #000;
	}
	.teacher_text {
		opacity: 100%;
	}
	circle {
		fill: #fff;
	}
}

// Content
.content {
	.content__text {
		text-align: center;
		#table_google {
			margin-top: 120px;
			font-size: 20px;
			ul{
				list-style: none;
				li{
					display: inline;
					padding: 0px 40px 0px 40px;
					font-weight: 600;
					a{
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
		#table_google2 {
			font-size: 20px;
			margin-top: 100px;
			padding-bottom: 200px;
			ul{
				list-style: none;
				li{
					display: inline;
					padding: 0px 40px 0px 40px;
					font-weight: 600;
					a{
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
	}
}

//footer
.footer{
	background-color: #070707;
	height: auto;
	padding-bottom: 20px;
	bottom: 0;
	left: 0;
	.footer__body{
		.footer__logo{
			float: left;
			margin-top: 20px;
			a{
				text-decoration: none;
				color: #fff;
				font-size: 16px;
				font-family: 'Caveat', cursive;
			}
		}
		.footer__menu{
			.footer__header{
				nav{
					float: right;
					ul{
						list-style: none;
						text-decoration: none;
						color: #fff;
						font-weight: 600;
						margin-top: 47px;
						li{
							display: inline;
							padding: 0px 0px 0px 53px;
						}
					}
				}
			}
		}
	}
	.footer__content{
		.footer__content_text{
			#table {
				float: right;
				ul{
					list-style: none;
					li{
						text-align: center;
						padding: 15px 0px 0px 0px;
						a{
							text-decoration: none;
							color: #BFBFBF;
							font-size: 10px;
						}
					}
				}
			}
			#table2 {
				float: right;
				margin-right: 32px;
				ul{
					list-style: none;
					li{
						text-align: center;
						padding: 15px 0px 0px 0px;
						a{
							color: #BFBFBF;
							text-decoration: none;
							font-size: 10px;
						}
					}
				}
			}
			#table3 {
				float: right;
				margin-right: 57px;
				ul{
					list-style: none;
					li{
						padding: 15px 0px 0px 0px;
						text-align: center;
						a{
							color: #BFBFBF;
							text-decoration: none;
							font-size: 10px;
						}
					}
				}
			}
			.map{
				p{
					font-size: 8px;
					color: #BFBFBF;
				}
			}
		}
	}
}